<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Online Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/course.css' %}">
</head>
<body>

<h2>Popular courses list</h2>

<!-- Add your template there -->

<!--Authentication section-->
{% if user.is_authenticated %} 
    <div class="rightalign">
        <div class="dropdown">
            <button class="dropbtn">
                {{user.first_name}}
            </button>
            <div class="dropdown-content">
                <a href="{% url 'adminsite:logout' %}">Logout</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="rightalign" style="margin-right: 20px;">
        <div class="dropdown">
            <button class="dropdown">
                Visitor
            </button>
            <button class="dropdown-content">
                <a href="{% url 'adminsite:login' %}">Login</a>
            </button>
        </div>
    </div>
{% endif %}


{% if course_list %}
   <ul>
   {% for course in course_list %}
       <div class="container">
          <div class="row">
            <div class="column-33">
                <img src="{{MEDIA_URL}}/{{ course.image }}" width="360" height="360" >
            </div>
            <div class="column-66">
                <h1 class="xlarge-font"><b>{{ course.name }}</b></h1>
                <p style="color:MediumSeaGreen;"><b>{{course.total_enrollment}} enrolled</b></p>
                <p> {{ course.description }}</p>
                <form action="{% url 'adminsite:enroll' course.id %}" method="post">
                {% csrf_token %}
                <input class="button"  type="submit"  value="Enroll">
              </form>
            </div>
          </div>
       </div>
       <hr>
   {% endfor %}
   </ul>
{% else %}
<p>No courses are available.</p>
{% endif %}

</body>
</html>