<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Online Courses</title>
</head>
<body>

<h2>Popular courses list</h2>

<!-- Add your template there -->
{% if course_list %}
    <ul>
    {% for course in course_list %}
        <div>
            <img src="{{ MEDIA_URL }}/{{ course.image }}" width="360" height="360" >
            <h1><b>{{ course.name }}</b></h1>
            <p>{{ course.total_enrollment}} enrolled</p>
            <p>{{course.description}}</p>
        </div>
        <form action="{% url 'adminsite:enroll' course.id%}" method="post">
            {% csrf_token%}
            <input type="submit" value="Enroll">

        </form>
    {% endfor %}
    </ul>
{% else %}
<p>No courses are available.</p>
{% endif %}

</body>
</html>