<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>Online Courses</title>
    </head>
<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'adminsite:popular_course_list' %}">Online Course</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'adminsite:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'adminsite:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'adminsite:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


<!--- Add a login form here  --->
<form action="{% url 'adminsite:login' %}" method="post">
    {% csrf_token %}
    <div class="container"> <!--Stylize root div with .container class -->
      <h1>Login</h1>
      <div class="form-group"> <!--Stylize second div with .form-group class -->
        <label for="username"><b>User Name: </b></label>
        <input id="username" class="form-control" type="text" placeholder="Enter User Name: " name="username" required> <!--Stylize input with .form-control class -->
        <label for="psw"><b>Password: </b></label>
        <input id="psw" type="password" class="form-control" placeholder="Enter Password: " name="psw" required> <!--Stylize input with .form-control class -->
      </div>
      {% if message %}
        <div class="alert alert-warning"> <!--Stylize the message paragraph with .alert and .alert-warning class -->
          {{ message }}
        </div>
      {% endif %}
      <button class="btn btn-primary" type="submit">Login</button> <!--Stylize button with .btn and .btn-primary class -->
    </div>
  </form>

</body>